{% extends 'base.html' %} {% block title %} {{ event.title }} {% endblock title %} {% block content %}
<h2>Eventos da Categoria {{ category.name }}</h2>

  <ul>
    <li><strong>Nome:</strong> {{ category.name }}</li>
    <hr>
    <li><strong>Descrição:</strong> {{ category.content }}</li>
<hr>

{% if category.events.all %}
<section class="lista-de-cards">
    {% for event in category.events.all %}
    <article class="card">
      <a href="{% url 'restaurants:detail' event.id %}"> <!-- modifique esta linha -->
          <img src="{{ event.photo_url }}" alt="Foto do Evento {{ event.name }}" />
      </a>
      <p>{{ event.name }}</p>
    </article>
    {% endfor %}
  </section>
  {% else %}
  <p>Não foi encontrado nenhum restaurante.</p>
  {% endif %} {% endblock content %}