:root {
    --primary-color: #000000;
    --secondary-color: rgb(24, 21, 1);
    --tertiary-color: #f44d27;
    --secondary-color-light: rgb(81, 70, 19);
    --tertiary-color-light: #ff6d28;
    --bg-color: #fff;
    --secondary-bg-color: #e9e9e9;
    --color-shadow: #f4f4f4;
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}

* {
    box-sizing: border-box;
}

html {
    background-color: rgba(240, 162, 54, 0.556);
}

html,
body {
    height: 100%;
}

#cabecalho-principal {
    background-color: rgb(219, 163, 32);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 15%;
    padding: 3rem 1rem;
    flex-direction: row;
}

#cabecalho-principal img {
    width: 30%;
    height: auto;
    margin-left: 10%;
}

#navegacao-principal {
    width: 70%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

#navegacao-principal ul {
    width: 70%;
    list-style: none;
    padding: 0;
    margin: 5vh;
    display: flex;
    align-items: center;
}

#navegacao-principal li {
    width: 70%;
    padding: 10px;
}

#navegacao-principal a {
    text-decoration: none;
    color: rgb(65, 56, 16);
    font-weight: bold;
    font-size: 120%;
}

#navegacao-principal a:hover {
    text-decoration
