{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | GoldTickets</title>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'responsive.css' %}"> 
</head>

<body>
    <header id="cabecalho-principal">
        <div id="menu-icon">&#9776;</div>
        <a href="{% url 'events:index' %}"><img src="https://i.imgur.com/Pl5bFdn.png" width="15%" height="15%"></a>
        <nav id="navegacao-principal">
            <ul>
                <li><a href="{% url 'events:index' %}">Eventos</a></li>
                <form role="search" method="POST" action="{% url 'events:search' %}">
                    {% csrf_token %}
                    <input type="search" size="30" placeholder="Buscar Evento" aria-label="Search" name="searched">
                </form>
                {% if user.is_authenticated %}
                    <li style="width: 10vw;"> Logado com {{ user.username }} </li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <div id="menu-lateral">
        <ul>
            <li><a href="{% url 'events:index' %}">Eventos</a></li>
            <form role="search" method="POST" action="{% url 'events:search' %}">
                {% csrf_token %}
                <input type="search" size="30" placeholder="Buscar Evento" aria-label="Search" name="searched">
            </form>
            {% if user.is_authenticated %}
                <li> Logado com {{ user.username }} </li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </div>

    <main id="conteiner-principal">
        {% block content %}
        {% endblock content %}
    </main>
    <footer id="rodape-principal">
        <p>
            <small>Copyright 2023</small>
        </p>
    </footer>

    <script src="{% static 'responsive.js' %}"></script>
</body>

</html>
